:root {
    --primary-color: #f7fff6;     /* Light fresh green */
    --secondary-color: #87D68D;  /* Vibrant medium green */
    --tertiary-color: #BCEBCB;   /* Soft pastel mint green */
    --text-color: #313131;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: var(--tertiary-color);
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
}


.container:nth-child(3) {
    background: var(--tertiary-color);
}

.heading {
    text-align: center;
    margin-bottom: 20px;
}

.about {
    margin: 10px;
    text-align: justify;
    text-indent: 20px;
}

.heading h1 {
    margin: 0;
    font-size: 2.5em;
    color: #2c3e50;
}

.heading p {
    font-size: 1.2em;
    color: #7f8c8d;
}

.section {
    margin-bottom: 20px;
}

.section h2 {
    font-size: 1.8em;
    color: #2c3e50;
    border-bottom: 2px solid #2c3e50;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.section ul {
    list-style-type: none;
    padding: 0;
}

.section ul li {
    margin-bottom: 10px;
}

.skills span {
    display: inline-block;
    background: #3498db;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px;
}

.pdf-button {
    display: block;
    margin: 20px auto;
    text-align: center;
}

.pdf-button button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pdf-button button:hover {
    background-color: #2980b9;
}

@media (min-width:360px) and (max-width:500px) {
    .container {
        max-width: 800px;
        margin: 20px;
        background: #fff;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }
}