:root {
    --primary-color: #f7fff6;     /* Light fresh green */
    --secondary-color: #87D68D;  /* Vibrant medium green */
    --tertiary-color: #BCEBCB;   /* Soft pastel mint green */
    --text-color: #313131;
}
.footer {
    color: var(--text-color);
    padding: 20px;
    text-align: center;
}
.footer li {
    list-style: none;
}

.footer a {
    color: #1b1b1b;
    font-size: 24px;
}

.footer a:hover {
    color: #858d84;
}
.footer-content{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.footer-content ul{
    display: flex;
    justify-content: space-evenly;
}
.fa {
    padding: 15px;
    font-size: 1rem;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
.fa {
    opacity: 1;
}
.fa-facebook, .fa-instagram, .fa-github {
    color: #000000;
}
/* .fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-instagram{
    background: linear-gradient(320deg,  #feda75, #fa7e1e,  #d62976,#962fbf,#4f5bd5 );
    color: #F7FFF6;
}
.fa-github {
    background: #000;
    color: #F7FFF6;
} */