.header {
    background-color: #8491A3;
    height: 10vh;
}

.header .myDIV {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
}
.header .btn a::before {
    color: #F7FFF6;
    font-size: 1rem;
}
.header .btn:first-child a::before{
    content: "Home";
}
.header .btn:nth-child(2) a::before{
    content: "About Me";
}
.header .btn:nth-child(3) a::before{
    content: "Projects";
}
.header .btn:last-child a::before{
    content: "Service";
}

.header .btn {
    list-style: none;
    border-style: none;
}

.header .btn a {
    color: #BCEBCB;
    text-decoration: none;
    cursor: pointer;
}

.header .btn a:hover {
    color:#BCEBCB;
    text-decoration: underline;
    transition: 1.5s;
}
.btn {
    background-color: #8491A3;
  }
.active, .btn:hover {
    transition: 1.5s;
    text-decoration: underline;
    color: #BCEBCB;
}
