.header {
    background-color: #93B48B;
    padding: 2vh 0;
}

.header .myDIV {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
}
.header .btn a::before{
    color: #fdfffe;
    font-size: 1.2rem;
    border-style: none;
}
.header .btn:first-child a::before{
    content: "Home";
}
.header .btn:nth-child(2) a::before{
    content: "About Me";
}
.header .btn:nth-child(3) a::before{
    content: "Projects";
}
.header .btn:last-child a::before{
    content: "Service";
}

.header .btn {
    list-style: none;
    border-style: none;
}

.header .btn a {
    color: #BCEBCB;
    text-decoration: none;
    cursor: pointer;
}

.header .btn a:hover {
    color:#BCEBCB;
    text-decoration: underline;
    transition: 1.5s;
}
.btn {
    background-color: #93B48B;
  }
.active, .btn:hover {
    text-decoration: underline;
    color: #F7FFF6;
}
@media (min-width: 360px) and (max-width: 480px) {
    .header {
        background-color: var(--secondary-color);
    }
    .header .bur {
        display: flex;
    }
}