*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;   
}
.services{
    width: 500px;
    padding: 20px;
    margin: 20px 0;
    border: 1.5px solid #000;
    background-color: #c7c7c7;
}

.services {
    text-align: justify;
    text-indent: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}