*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;   
}
.services{
    width: 500px;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #000;
}