* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

:root {
    --primary-color: #f7fff6;     /* Light fresh green */
    --secondary-color: #87D68D;  /* Vibrant medium green */
    --tertiary-color: #BCEBCB;   /* Soft pastel mint green */
}

.body{
    display: flex;
    background-color: var(--primary-color);
    scrollbar-width: none;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    overflow: scroll;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #93B48B;
    border-radius: 20px;
    padding: 2rem;
    margin: 35px 0 50px 0;
    gap: 10px;
}

.content img {
    width: 250px;
}

.content-typing {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 50px;
    gap: 50px;
}

.content-typing h1 {
    font-size: 36px;
    font-weight: bolder;
    color: #87D68D;
}

.type {
    width: 200px;
    position: relative;
    font-size: 2rem;
    white-space: nowrap;
}

.type::before {
    content: "";
    color: #93B48B;
    animation: typing 2s steps(20) 0.5s infinite forwards; 
}

@keyframes typing {
    0% {
        content: "|";
    }
    6.25% {
        content: "I|";
    }
    12.5% {
        content: "I'|";
    }
    18.75% {
        content: "I'm|";
    }
    25% {
        content: "I'm |";
    }
    31.25% {
        content: "I'm a|";
    }
    37.5% {
        content: "I'm a |";
    }
    43.75% {
        content: "I'm a W|";
    }
    50% {
        content: "I'm a We|";
    }
    56.25% {
        content: "I'm a Web|";
    }
    62.5% {
        content: "I'm a Web |";
    }
    68.75% {
        content: "I'm a Web D|";
    }
    75% {
        content: "I'm a Web De|";
    }
    81.25% {
        content: "I'm a Web Dev|";
    }
    100% {
        content: "I'm a Web Dev|";
    }
}
.project {
    background-color: var(--tertiary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100vh;
}
.project button {
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    border-style: hidden;
}

.about {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background-color: var(--secondary-color);
    height: 65vh;
    text-align: center;
}

.about p {
    text-align: justify;
    width: 80%;
    text-indent: 20px;
}